
<div id="panelMap" style="height: 100%; width: 100%;">
    
    <div id="gis" style="width: 100%; height: 100%;">

    </div>
    <div id="mouse-position" class="mouse-position-wrapper">
        <div class="custom-mouse-position"></div>
    </div>
</div>


